<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.itbank.model.domain.Member" alias="Member"/>
		<typeAlias type="com.itbank.model.domain.Member" alias="Body"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/itbank/mybatis/mapper/MemberMapper.xml" />
		<mapper resource="com/itbank/mybatis/mapper/BodyMapper.xml" />
	</mappers>
</configuration>