<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Body">
	<insert id="insert" parameterType="Body">
		insert into body(body_id, member_id, height,weight,type)
		values(seq_body.nextval, #{member.member_id},#{height},#{weight},#{type} )
	</insert>
</mapper>